@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
  font-family: "Maven Pro", sans-serif;
}
body {
  height: 100%;
}
.otp-item {
  width: 4rem !important;
}
section {
  overflow: hidden;
}

section span {
  display: block;
  transform: translateX(-100px);
  opacity: 0;
}
